---
layout: boilerplate
---

<section class="bg-primary text-light py-3">
    <div class="container">
        <div class="d-flex w-100 justify-content-center pb-3">
            {% comment %} <img class="img-responsive rounded-circle justify-content-center" id="home-profile-img" src="https://images.unsplash.com/photo-1471357674240-e1a485acb3e1?auto=format&fit=crop&w=300&h=300&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"> {% endcomment %}
            <img class="img-responsive rounded-circle justify-content-center" id="home-profile-img" src="https://avatars1.githubusercontent.com/u/10427974?s=460&v=4">
        </div>
        <div class="d-flex w-100 justify-content-center">
            <h1 class="center">Hi! I'm Ben.</h1>
        </div>
    </div>
</section>
<section class="bg-light py-3">
    <div class="container">
        <p>I'm a technology enthusiast with a passion for code. I code both for school and just for fun.</p>
        <a class="btn btn-info" href="{{ site.url }}/about">More about me &raquo;</a>
    </div>
</section>
<section class="bg-default py-3">
    <div class="container">
        <h4>FeaturedProjects</h4>
    </div>
    <div class="container mt-3">
        <div class="row">
            {% for project in site.data.featured %}
            {% assign projectURL = "https://github.com/" | append: project.username | append: "/" | append: project.repo %}
            <div class="col-sm-12 col-md-4 mb-4">
                <div class="card border-secondary bg-light">
                    <div class="card-body">
                        <h4 class="card-title">{{project.title}}</h4>
                        <p class="card-text">{{project.desc}}</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn bg-white border-secondary" href="{{projectURL}}">
                            {% octicon link-external height: 16 %}
                        </a>
                        {% if project.issues %}
                        <a class="btn bg-white border-secondary" href="{{projectURL}}/issues">
                            {% octicon issue-opened height: 16 %}
                        </a>
                        {% endif %}
                        {% if project.wiki %}
                        <a class="btn bg-white border-secondary" href="{{projectURL}}/wiki">
                            {% octicon book height: 16 %}
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="btn btn-info" href="{{site.url}}/projects">More projects &raquo;</a>
    </div>
</section>  

