---
layout: boilerplate
title: All Projects
---

<div class="container py-3">
  <h1>Projects</h1>
  <p>
    A collection of some of my notable works, some involving more than code!
  </p>
</div>

<div class="container mb-5">
  {% comment %}
  <!-- prettier-ignore -->
  {% endcomment %}

  {%
    assign projects = site.projects
      | group_by: "featured"
      | sort: "name"
      | reverse
  %}
  {% for group in projects %}

  {% assign sorted_projects = group.items | sort : "date" | reverse %}
  {% if group.name == "true" %}
  {% assign sorted_projects = group.items | sort: "rank" %}

  {% comment %}
  <!-- prettier-ignore -->
  {% endcomment %}
  <!-- <section class="bg-default py-3"> -->
  <!-- <div class="container"> -->
  <div class="card mb-3">
    <div class="card-header text-white bg-info">
      <i class="bi bi-pin-angle"></i> Featured
    </div>
  </div>
  {% else %}
  <!-- <section class="bg-light py-3"> -->
  <!-- <div class="container"> -->
  <div class="card mt-5 mb-3 bg-dark text-light">
    <div class="card-header"><i class="bi bi-archive"></i> Other Projects</div>
  </div>
  {% endif %} {% for project in sorted_projects %}
  <div class="card mb-3 mx-3 bg-light shadow-sm">
    <div class="row no-gutters">
      <div class="col-md-4 col-lg-2">
        <img
          src="{{project.photo}}"
          class="card-img project-img"
          alt="placeholder image"
        />
        <a href="{{ project.url }}" class="stretched-link"></a>
      </div>
      <div class="col-md-8 col-lg-10">
        <div class="card-body">
          <h5 class="card-title">{{ project.title }}</h5>
          <p class="card-text">{{ project.description }}</p>
          <p class="card-text">
            <small class="text-muted">{{ project.date | date: '%B %Y' }}</small>
          </p>
          <a href="{{ project.url }}" class="stretched-link"
            >Read More &raquo;</a
          >
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <!-- </div> -->
  <!-- </section> -->
  {% endfor %}
</div>
