---
layout: default
title: Resumé
permalink: /resume/
---

{% assign resume = site.data.resume %}

<h1 class="mt-4">Resumé</h1>
<div class="resume">
  <section>
    <div class="card bg-light bg-gradient">
      <div class="card-body">
        <div class="d-flex w-100 justify-content-center pb-3">
          <img
            class="img-responsive rounded-circle justify-content-center"
            id="home-profile-img"
            src="{{site.profileIMG}}"
          />
        </div>
        <div class="d-flex w-100 flex-column align-items-center">
          <p class="h1">{{resume.name}}</p>
          {% if resume.tagline %}
          <p class="h3 text-muted">
            <!-- <i class="bi bi-patch-check-fill"></i> -->
            {{resume.tagline}}
          </p>
          {% endif %}
          <p class="h4 text-muted">
            <i class="bi bi-geo-alt-fill"></i> {{resume.location}}
          </p>
        </div>
      </div>
    </div>
  </section>

  {% if resume.objective %}
  <section>
    <h2>Objective</h2>
    <p>{{resume.objective}}</p>
  </section>
  {% endif %}

  <section class="card-section">
    <h2>Education</h2>
    {% for degree in resume.education %}
    <div class="card resume-item">
      <div class="row g-0">
        <div class="col-sm-auto d-flex justify-contentx-center">
          <img src="{{degree.logo}}" alt="{{degree.institution}} logo" />
        </div>
        <div class="col-sm">
          <div class="card-body">
            <h3 class="h5 card-title">{{degree.degree}}</h3>
            <p class="h6 card-subtitle mb-2">
              {{degree.institution}}
              <small class="text-muted ws-nowrap">{{degree.location}}</small>
            </p>
            <p class="card-text">
              <small class="text-muted"
                >{{degree.term.start}}&mdash;{{degree.term.end}}</small
              >
              {% if degree.term.in_progress %}
              <small class="ws-nowrap">(In Progress)</small>
              {% endif %}
            </p>
            {% if degree.gpa %}
            <p class="card-text">GPA: {{degree.gpa}}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </section>

  <section class="card-section">
    <h2>Experience</h2>
    {% for job in resume.jobs %}
    <div class="card resume-item">
      <div class="row g-0">
        <div class="col-sm-auto d-flex justify-contentx-center">
          <img src="{{job.logo}}" alt="{{job.employer}} logo" />
        </div>
        <div class="col-sm">
          <div class="card-body">
            <h3 class="h5 card-title">{{job.job_title}}</h3>
            <p class="h6 card-subtitle mb-2">
              {{job.employer}}
              <small class="text-muted ws-nowrap">{{job.location}}</small>
            </p>
            <p class="card-text">
              <small class="text-muted"
                >{{job.term.start}}&mdash;{{job.term.end}}</small
              >{% unless job.term.end %}<small class="ws-nowrap">Present</small>
              {% endunless %}
            </p>
            <ul>
              {% for item in job.accomplishments %}
              <li>{{item}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </section>

  <section>
    <h2>Skills</h2>
    <ul>
      {% for group in resume.skills %}
      <li><strong>{{group.cluster}}</strong>: {{group.items | join: ", "}}</li>
      {% endfor %}
    </ul>
  </section>

  <section>
    <h2>Portfolio</h2>
    <p>
      Please check out my
      <a href="{{site.url}}/projects">projects page</a>
      and
      <a href="https://github.com/BenJetson">GitHub profile</a>.
    </p>
    <p>
      If you would like a list of projects most relevant to you,
      <a href="{{site.url}}/contact">reach out to me</a> for details.
    </p>
  </section>
</div>
