//
// _blogpost.scss
//
// Styles for the blog post layout.
//

div.blogpost-excerpt {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 4.5em;
}

div.blogpost-header,
div.blogpost-card {
  overflow: hidden;
  border-radius: 0.5rem;
}

.chip {
  background-color: $gray-400;
  height: $chip-size;
  display: inline-block;
  padding: 0 ($chip-size / 2);
  border-radius: 25px;
  line-height: $chip-size;

  img {
    @extend .rounded-circle;
    float: left;
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: (-1 * ($chip-size / 2));
    height: $chip-size;
    width: $chip-size;
  }
}

div.blogpost-date,
div.blogpost-author-print {
  line-height: $chip-size;
}

.hero-image {
  height: 250px;
  background-color: $gray-400;
  object-fit: cover;
}

.hero-image-credit {
  font-weight: light;
  color: $gray-600;
  font-style: italic;
}
