//
// _blogpost.scss
//
// Styles for the blog post layout.
//

div.chip {
  background-color: $gray-400;
  height: $chip-size;
  display: inline-block;
  padding: 0 ($chip-size / 2);
  border-radius: 25px;
  line-height: $chip-size;
  margin-right: 10px;
}

div.chip img {
  @extend .rounded-circle;
  float: left;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: (-1 * ($chip-size / 2));
  height: $chip-size;
  width: $chip-size;
}

div.blogpost-date {
  line-height: $chip-size;
}

.hero-image {
  max-height: 250px;
  object-fit: cover;
}

.hero-image-credit {
  font-weight: light;
  color: $gray-600;
  font-style: italic;
}
