//
// _contact.css
//
// Styles for the contact page.
//

#form-result {
  border: none;
  height: 650px;
  overflow: hidden;
  width: 100%;
  pointer-events: none;
}

#fail-validation {
  display: block;
}

@include media-breakpoint-down(xs) {
  .g-recaptcha {
    transform: scale(0.9);
    transform-origin: 0 0;
  }
}
