//
// _footer.scss
//
// Styles for elements in the footer.
//

footer {
  .social-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .social-icon {
      display: block;
      margin-right: 1em;

      font-size: 32px;
      text-align: center;

      color: inherit;
    }
  }

  #counter {
    $digit-numeral-height: 1em;
    $digit-vertical-padding: 0.3rem;
    $digit-border-size: 2px;

    font-family: $font-family-monospace;
    font-size: 28px;
    font-style: italic;

    text-align: left;

    margin: 1rem 0;

    // prettier-ignore
    height: calc(
      #{$digit-numeral-height} +
      (#{$digit-vertical-padding} * 2) +
      (#{$digit-border-size} * 2)
    );

    span.digit {
      background-color: $black;
      border: $digit-border-size solid $gray-800;
      border-radius: 7px;

      position: relative;

      padding: $digit-vertical-padding 0.4rem;

      margin-right: 1px; // to separate the digits.
    }

    // This renders the little border line in the center of the digit.
    span.digit::before {
      content: ""; // must be present for this to render.

      position: absolute;
      bottom: 50%;
      left: 0;

      z-index: 0;

      border-bottom: 2px solid rgba($gray-600, 50%);
      width: 100%;
    }
  }
}
