//
// _layout.scss
//
// Styles to control the general site layout/framing.
//

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  // Make the content area expand and fill vertical space if there is not enough
  // content to fill the page.
  flex-grow: 1;
}
