//
// _resume.scss
//
// Styles for the resumé page of the site.
//

main.resume {
  // max-width: 750px;
  margin: 0 auto;
  @extend .mb-4;

  section {
    @extend .mt-4;
  }

  .card.resume-item {
    @extend .mt-3;
    @extend .shadow-sm;

    img {
      @extend .rounded;
      @extend .ms-3;
      @extend .mt-3;

      $img-size: 75px;

      height: $img-size;
      width: $img-size;
    }

    ul {
      padding-left: 1.5rem;
    }
  }

  .btn-download {
    @extend .btn;
    @extend .btn-secondary;

    @extend .me-2;
    @extend .text-center;

    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
      width: 100%;
      margin-top: map-get($map: $spacers, $key: 2);
    }
  }

  @media print {
    section {
      page-break-inside: avoid;
    }

    #home-profile-img {
      max-height: 1.75in;
    }
  }
}
