<div class="modal fade" tabindex="-1" role="dialog" id="constructionModal" aria-labelledby="constructionModal" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">You've been warned!</h5>
            </div>
            <div class="modal-body">
                <div class="my-2 text-center">
                    {% octicon alert height: 150 %}
                </div>
                <div class="text-center">
                    <h3>This site is under construction.</h3>
                    <p>Features may be broken/incomplete, and information may be inaccurate.</p>
                    <p>Consider this as a draft of the final site.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger text-light" data-dismiss="modal">Proceed anyway &raquo;</a>
            </div>
        </div>
    </div>
</div>