<footer class="bg-dark text-light">
  <div class="container">
    <div class="row pt-4">
      <div class="col-sm-12 col-md-6">
        <h4>{{site.title}}</h4>
        <p>{{site.description}}</p>
      </div>
      <div class="col-sm-12 col-md-3 d-print-none">
        <h5>Follow me!</h5>
        <div class="social-grid">
          <a class="social-icon" href="https://github.com/benjetson">
            <i class="bi bi-github"></i>
            <span class="visually-hidden">GitHub</span>
          </a>
          <a class="social-icon" href="https://twitter.com/benjetson">
            <i class="bi bi-twitter"></i>
            <span class="visually-hidden">Twitter</span>
          </a>
          <a class="social-icon" href="https://www.linkedin.com/in/bfgodfrey">
            <i class="bi bi-linkedin"></i>
            <span class="visually-hidden">LinkedIn</span>
          </a>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 d-print-none">
        <h5>Pageviews</h5>
        <div id="counter">
          <div class="digits placeholder">
            <span class="digit" aria-hidden="true"
              ><span class="current">.</span></span
            ><span class="digit" aria-hidden="true"
              ><span class="current">.</span></span
            ><span class="digit" aria-hidden="true"
              ><span class="current">.</span></span
            ><span class="digit" aria-hidden="true"
              ><span class="current">.</span></span
            ><span class="digit" aria-hidden="true"
              ><span class="current">.</span></span
            >
          </div>
          <p class="visually-hidden">Pageview count is still loading.</p>
        </div>
      </div>
    </div>
    <div class="row pt-4 pb-3">
      <div class="col">
        <h6>
          &copy; {{ "now" | date: "%Y" }} Ben Godfrey. All rights reserved.
        </h6>
        <p>
          <code
            >build {{ site.github.build_revision | truncate: 7,
            ""}}-{{site.tier}}</code
          >
        </p>
      </div>
    </div>
  </div>
</footer>
