<footer class="bg-dark text-light">
  <div class="container">
    <div class="row pt-4">
      <div class="col-sm-12 col-md-6">
        <h4>{{site.title}}</h4>
        <p>{{site.description}}</p>
      </div>
      <div class="col-sm-12 col-md-3">
        <h5>Follow me!</h5>
        <img src="https://dummyimage.com/50x50/f55/fff&text=g" alt="google+" />
        <img
          src="https://dummyimage.com/50x50/2bcaff/0011ff&text=t"
          alt="twitter"
        />
        <img src="https://dummyimage.com/50x50/444/fff&text=gh" alt="github" />
      </div>
      <div class="col-sm-12 col-md-3 py-3">
        <img
          src="https://www.free-website-hit-counter.com/c.php?d=5&id=109636&s=8"
          class="img-fluid"
          id="hitCounter"
        />
      </div>
    </div>
    <div class="row pb-3">
      <div class="col">
        <h6>
          &copy; {{ "now" | date: "%Y" }} Ben Godfrey. All rights reserved.
        </h6>
        <p>
          <code
            >build {{ site.github.build_revision | truncate: 8,
            ""}}-{{site.tier}}</code
          >
        </p>
      </div>
    </div>
  </div>
</footer>
