<head>
  <!-- Meta -->
  {% assign tab_title = site.title %} {% if paginator != nil and paginator.page
  > 1 and page.title != nil %} {% assign tab_title = page.title | append: "
  (Page " | append: paginator.page | append: ") | " | append: site.title %} {%
  elsif page.title != nil %} {% assign tab_title = page.title | append: " | " |
  append: site.title %} {% endif %}
  <title>{{tab_title}}</title>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />

  <!-- Stylesheet -->
  <link rel="stylesheet" href="{{site.url}}/css/main.css" />
</head>
