<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="{{site.url}}">Ben's Code Projects</a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-100 justify-content-end">
        {% for navItem in site.data.navigation %} {% assign fullURL = site.url |
        append: "/" | append: navItem.url %} {% assign currentURL = site.url |
        append: page.url %} {% assign fullURLX = fullURL | remove: "/" | remove:
        ".html" %} {% assign currentURLX = currentURL | remove: "/" | remove:
        ".html" %} {% if currentURLX == fullURLX %}
        <li class="nav-item active">
          {% else %}
        </li>

        <li class="nav-item">
          {% endif %}
          <a class="nav-link" href="{{fullURL}}">{{navItem.desc}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
