<nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded">
    <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="{{site.url}}">Ben's Code Projects</a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav w-100 justify-content-end">

                <li class="nav-item">
                    <a class="nav-link" href="{{ site.url }}">Home</a>
                </li>

            </ul>
        </div>

    </div>
</nav>