<div id="closed-modal" class="modal yellow">
    <div class="modal-content">
        <div class="center-align"><i class="large material-icons">build</i></div>
        <h4 class="center-align">
            Site Closed
        </h4>
        <p class="center-align flow-text">Hey there! My site is temporarily closed for maintenance.<br><br>Try visiting again later.</p>
    </div>
</div>

<a href="#closed-modal" id="btn-closed" class="hidden"></a>

<script>
    $(document).ready(function() {
        $("#closed-modal").modal({
            dismissible: false,
            opacity: 1,
            inDuration: 1
        });
        $('#btn-closed').click();
    });
</script>