#jumbotron h1 {
    font-size: 15vh;
    font-style: italic;
    font-family: VT323, monospace;
    line-height: 0.8;
    color: yellow;
    text-shadow: 0 0 15px #500;
}

#jumbotron h1 .blink {
    color: lime;
}

// Featured Project Cards
#featured .card .card-content p {
    height: 4.5em;
}