---
layout: boilerplate
---

{% assign hero-image-src = page.image | replace: "site.url", site.url %}

<article>
  <section class="py-4">
    <div class="container">
      <div class="card">
        {% if page.image %}
        <img
          src="{{hero-image-src}}"
          class="card-img-top hero-image"
          alt="{{page.image-alt}}"
        />
        {% endif %}
        <div class="card-body">
          <h2 class="m-0">{{page.title}}</h2>
        </div>
        <div class="card-footer text-muted">
          <div class="row no-gutters mb-2">
            <div class="col-sm-12 col-md-auto mt-2">
              <div class="chip">
                <img src="{{site.profileIMG}}" />
                Ben Godfrey
                <!-- FIXME name does not show in reader mode -->
              </div>
            </div>
            <div class="col blogpost-date mt-2">
              {{page.date | date: "%B %d, %Y at %I:%M %P" }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pb-3">
    <div class="container">
      <div class="usercontent">
        {{page.content}}
      </div>
    </div>
    {% if page.image-credit %}
    <div class="container mt-4 mb-2">
      <div class="hero-image-credit">
        Hero image credit: {{page.image-credit}}
      </div>
    </div>
    {% endif %}
  </section>
</article>
