---
---

<!DOCTYPE html>

<html lang="en">
  {% include head.html %}

  <body>
    {% comment %}
    <!-- prettier-ignore -->
    {% endcomment %}

    {% include navigation.html %}

    {% comment %}
    <!-- prettier-ignore -->
    {% endcomment %}

    <main class="{{page.main_class}}">{{ content }}</main>

    {% comment %}
    <!-- prettier-ignore -->
    {% endcomment %}

    {% include footer.html %}
    {% include scripts.html %}

    {% comment %}
    <!-- prettier-ignore -->
    {% endcomment %}
  </body>
</html>
