---
layout: boilerplate
---

<div class="container pb-5">
  <div class="row">
    <div class="col-md-4 p-3">
      <div class="card project-header">
        <img
          src="{{page.photo}}"
          class="card-img-top"
          alt="{{page.photo-alt}}"
        />
        <div class="card-body">
          <h1>{{page.title}}</h1>
          <p class="card-description">{{page.description}}</p>
          <p class="card-text">
            <small class="text-muted">{{ page.date | date: '%B %Y' }}</small>
          </p>
        </div>
        <div class="card-footer text-center">
          {% if page.webpage %}
          <a
            class="btn btn-outline-secondary mb-1 d-block"
            href="{{page.webpage}}"
          >
            <i class="bi bi-box-arrow-in-up-left"></i> Webpage
          </a>
          {% comment %}
          <!-- prettier-ignore -->
          {% endcomment %}

          {% endif %}

          {% if page.username != nil and page.repo != nil %}

            {%
              assign repoURL = "https://github.com/"
              | append: page.username
              | append: "/"
              | append: page.repo
            %}

          {% comment %}
          <!-- prettier-ignore -->
          {% endcomment %}

          <a class="btn btn-outline-secondary mb-1 d-block" href="{{repoURL}}">
            <i class="bi bi-github"></i> Repository
          </a>
          {% endif %} {% if page.issues %}
          <a
            class="btn btn-outline-secondary mb-1 d-block"
            href="{{repoURL}}/issues"
          >
            <i class="bi bi-exclamation-circle"></i> Issues
          </a>
          {% endif %} {% if page.wiki %}
          <a
            class="btn btn-outline-secondary mb-1 d-block"
            href="{{repoURL}}/wiki"
          >
            <i class="bi bi-book"></i> Wiki
          </a>
          {% endif %} {% if page.releases %}
          <a
            class="btn btn-outline-secondary mb-1 d-block"
            href="{{repoURL}}/releases"
          >
            <i class="bi bi-file-earmark-zip"></i> Releases
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-8 p-3 min-vh-50">
      <div class="mb-3 d-none d-md-block"></div>
      <h2 id="more">About This Project</h2>
      <div class="usercontent">{{page.content}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 p-3"></div>
    <div class="col-md-8 p-3">{% include comments.html %}</div>
  </div>
</div>
