//
// vars.scss
//
// Overrides of Bootstrap variables.
//
// MUST be included in the master stylesheet BEFORE Bootstrap is loaded,
// otherwise Bootstrap will set these variables to their default values.
//

// Define additional colors.
$bright-blue: #29b6f6;
$info: darken(#17a2b8, 8%);

// Set the site theme colors.
$primary: $brand-color;

// Set the size of chip elements.
$chip-size: 30px;

// Enable background gradient classes.
$gradient: linear-gradient(
  0deg /* must be 0deg for home page gradient */,
  rgba(#fff, 0.15),
  rgba(#fff, 0)
);
